---
layout: default
---
{% assign posts_count = 0 %}
{% assign announcement_header_posted = false %}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}

<div class="home">
  <div class="messages">
    {% for announcement in site.data.announcements %}
      {% capture expiretime %}{{announcement.expires | date: '%s'}}{% endcapture %}
      {% if expiretime > nowunix %}
        {% unless announcement_header_posted %}
          {% assign announcement_header_posted = true %}
          <h1 class="h2">Announcements</hi>
          <ul class="no-bullets">
        {% endunless %}
        <li><i>{{ announcement.message }}</i></li>
      {% endif %}
    {% endfor %}

    {% if announcement_header_posted %}
      </ul>
    {% endif %}
  </div>

    <h1 class="h2">Upcoming Meetings</h1>
    <div class="posts">
      {% for post in site.posts reversed %}
      {% capture posthidetime %}{{post.date | date: '%s' | plus: 7200}}{% endcapture %}
      {% if posthidetime > nowunix %}
        {% assign posts_count = posts_count | plus: 1 %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }} – {{ post.location }}</p>
          <a href="{{ post.url }}" class="post-link"><h3 class="h1 post-title">{{ post.title }} {% if post.presenter %} — {{ post.presenter }} {% endif %}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endif %}
      {% endfor %}
    </div>

  {% if posts_count == 0 %}
    <h2 class="center">No talks scheduled.</h2>
  {% endif %}
</div>
