---
layout: page
title: Submit
permalink: "/submit/"
tags: contact
---

Submit a presentation you would like to give at the group.

<div class="py2">
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked">
      <label>
        Email
        <input type="text" name="email" class="field-light" placeholder="{{ site.text.submit_presentation.email }}">
      </label>
      <label>
        Presenter(s)
        <input type="text" name="presenter" class="field-light" placeholder="{{ site.text.submit_presentation.name }}">
      </label>
      <label>
        Title
        <input type="text" name="title" class="field-light" placeholder="{{ site.text.submit_presentation.title }}">
      </label>
      <label>
        Abstract
        <textarea type="text" name="abstract" class="field-light" rows="5" placeholder="{{ site.text.submit_presentation.abstract }}" style="resize: vertical"></textarea>
      </label>
      <label>
        Type of Presentation
        <select name="type" class="field-light">
          <option value="talk">Talk</option>
          <option value="workshop">Workshop</option>
          <option value="other">Other</option>
        </select>
      </label>
      <label>
        Times Available
        <textarea type="text" name="times" class="field-light" rows="5" placeholder="{{ site.text.submit_presentation.times }}" style="resize: vertical"></textarea>
      </label>

      <input type="hidden" name="_next" value="/thanks/" />
      <input type="hidden" name="_subject" value="{{ site.text.submit_presentation.subject }}" />
      <input type="text" name="_gotcha" style="display:none" />

      <input type="submit" class="button button-blue button-big mobile-block" value="{{ site.text.submit_presentation.submit }}">
    </form>
</div>
