<footer class="center">
  <div class="measure">
    <small>
      Copyright © 2018–2019 — Daniel Wysocki
      <br>
      Site created using <a href="https://jekyllrb.com/">Jekyll</a> and <a href="https://github.com/johnotander/pixyll">Pixyll</a>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
