---
layout: default
title: Archive
---
{% assign posts_count = paginator.posts | size %}

<div class="archive">
  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }} – {{ post.location }}</p>
        <a href="{{ post.url }}" class="post-link"><h3 class="h1 post-title">{{ post.title }} {% if post.presenter %} — {{ post.presenter }} {% endif %}</h3></a>
        <span class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
